<section class="flex items-center justify-between md:h-16 md:px-4 border-b border-b-gray-300 md:border-b-0 py-2 md:py-0" [ngClass]="xSmallOrSmall() ? '' : 'u-bg-header-main'">
  <div class="flex gap-2">
    <app-back-component></app-back-component>
  </div>

  @if (!xSmallOrSmall()) {
    <span class="text-lg"> Toutes les directions ({{ allUDepartments.length }}) </span>
  }

  <div>
    <button mat-icon-button matTooltip="Nouveau courrier" (click)="onAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Imprimer">
      <mat-icon>print</mat-icon>
    </button>
  </div>
</section>

<section class="flex flex-wrap my-4 md:mt-6">
  <div class="w-full lg:w-4/12">
    <div class="relative w-full">
      <input [formControl]="searchKeyword" type="text" class="w-full p-3 pl-5 pr-15 text-lg border-2 border-gray-300 md:rounded-full outline-none transition duration-300 focus:border-blue-500 focus:text-gray-700 bg-white h-[45px] lg:h-[49px]" placeholder="Rechercher un courrier par mot clé">
      <mat-icon class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-500 text-lg">search</mat-icon>
    </div>
  </div>
  <div class="w-full lg:w-8/12 flex justify-end items-center flex-wrap mt-3 md:mt-0">
    @if (!xSmallOrSmall()) {
    <mat-button-toggle-group value="add">
      <mat-button-toggle matTooltip="Nouveau groupe" value="add" aria-label="Text align center">
        <span>Affichage Grille</span> <mat-icon color="primary">view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle matTooltip="Liste des proclamateurs" value="print" aria-label="Text align center">
        <span>Affichage tableau</span> <mat-icon color="primary">view_module</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    }
  </div>
</section>

<div class="flex flex-col md:mt-6">
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden border-y border-gray-200 dark:border-gray-700 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                N°
              </th>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <button class="flex items-center gap-x-3 focus:outline-none">
                  <span>Désignation</span>
                  <svg class="h-3" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                    <path  d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                    <path  d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z" fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                  </svg>
                </button>
              </th>

              <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Acronyme
              </th>

              <th scope="col" class="relative py-3.5 px-4">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
            @for (item of paginatedDepartments; track item.id; let i = $index;) {
              <tr>
                <td class="px-4 py-2.5 text-sm whitespace-nowrap">
                  <div>
                    <h4 class="text-gray-700 dark:text-gray-200">{{ i + 1 }}</h4>
                  </div>
                </td>
                <td class="px-4 py-2.5 text-sm whitespace-nowrap">
                  <div>
                    <h2 class=" text-gray-800 dark:text-white "> {{ item.designation }} </h2>
                  </div>
                </td>
                <td class="px-12 py-2.5 text-sm whitespace-nowrap">
                  {{ item.acronym }}
                </td>

                <td class="px-4 py-2.5 text-sm whitespace-nowrap">
                  <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ item: item }">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="onUpdateDialog(item)">
      <mat-icon>edit</mat-icon>Modifier
    </button>
    <button mat-menu-item>
      <mat-icon>person</mat-icon><span>Directeur</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon><span>Supprimer</span>
    </button>
  </ng-template>
</mat-menu>

<mat-paginator  class="mt-10" [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
