<div class="layout-container" [class.layout-is-mobile]="XSmallOrSmall">
  <mat-toolbar color="primary" class="layout-toolbar shadow-sm z-[2]">
    <div class="w-full flex items-center justify-between">
      <div class="flex items-center">
        @if (XSmallOrSmall) {
          <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        }

        <div class="pl-4 flex items-center">
          <img class="h-8" src="assets/images/logo.PNG" alt="Logo CNSSAP">
        </div>

        @if (!XSmallOrSmall) {
        <div style="margin-left: 55px;">
          <button mat-button class="me-2">A propos</button>
          <button mat-button class="me-2">Resources</button>
          <button mat-button class="me-2">Connexion</button>
        </div>
        }
      </div>

      <div>
        <button mat-icon-button class="ms-3" (click)="switch = !switch">
          <mat-icon color="primary"> {{ switch ? 'wb_sunny' : 'brightness_2' }} </mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="layout-sidenav-container" [style.marginTop.px]="(XSmallOrSmall) ? 56 : 0">
    <mat-sidenav #drawer [fixedInViewport]="XSmallOrSmall" [attr.role]="XSmallOrSmall ? 'dialog' : 'navigation'" [mode]="XSmallOrSmall ? 'over' : 'side'" [opened]="false" fixedTopGap="56">
      <mat-nav-list dense>
        <a mat-list-item routerLink="/" (click)="drawer.toggle(!XSmallOrSmall)">
          <mat-icon matListItemIcon>list</mat-icon>
          <span>A propos</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/" (click)="drawer.toggle(!XSmallOrSmall)">
          <mat-icon matListItemIcon>apps</mat-icon>
          <span>Ressources</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/" (click)="drawer.toggle(!XSmallOrSmall)">
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <span>Connexions</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
