<section class="flex items-center justify-between md:h-14 md:px-4 md:bg-gray-50 border-b border-b-gray-300 md:border-b-0">
   <div class="flex gap-2">
    <app-back-component></app-back-component>
  </div>

  <span class="px-3 py-1 text-xs md:text-sm text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
    CNSSAP
  </span>

  <div>
    <button mat-icon-button matTooltip="Actualiser">
      <mat-icon>refresh</mat-icon>
    </button>
    <button [disabled]="!pdfService.localPdf" mat-icon-button matTooltip="Imprimmer" (click)="onDisplayLocalPdf()">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
  </div>
</section>

<div class="w-full md:px-16">
  <h1 class="mt-7 text-lg md:px-4 hidden md:block">FORMULAIRE {{ formActionPayload && formActionPayload.action === 'add' ? `D'AJOUT` : `DE MODIFICATION`}} D'UN COURRIER SORTANT EXTERNE</h1>

  @if (isFormReady) {
    <form class="w-full flex flex-wrap mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="w-full md:px-4 mb-4">
        <h1 class="text-lg font-bold">Objet du document</h1>

        <p>
          Indiquez ici le sujet principal du document. Il s'agit de l'objet tel qu'il figure sur le courrier scanné.
          Ce titre sera affiché dans les listes et utilisé lors des recherches.
        </p>
      </div>

      <div class="w-full md:px-4">
        <mat-form-field class="w-full">
          <mat-label>Objet du courrier</mat-label>
          <input type="text" matInput formControlName="subject">
          @if (form.get('subject')?.hasError) {
            <mat-error> {{ getErrorSubject() }} </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="w-full md:px-4 mb-4">
        <h1 class="text-lg font-bold">Date et Référence du document</h1>
        <p>
          Saisissez la date d’émission du document ainsi que sa férérence ici
        </p>
      </div>

      <div class="w-full md:w-6/12 md:px-4">
        <mat-form-field class="w-full">
          <mat-label>Date du document</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="mail_date">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          @if (form.get('mail_date')?.hasError) {
            <mat-error> {{ getErrorRequired('mail_date') }} </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="w-full md:w-6/12 md:px-4">
        <mat-form-field class="w-full">
          <mat-label>Référence du document</mat-label>
          <input type="text" matInput formControlName="reference">
          @if (form.get('reference')?.hasError) {
            <mat-error> {{ getErrorReference() }} </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="w-full md:px-4 mb-4">
        <h1 class="text-lg font-bold">Expéditeur et Destinataire du document</h1>
        <p>
          Séléctionner le  l'expéditeur et saissize le destinatair du courier
        </p>
      </div>

      <div class="w-full md:w-6/12 md:px-4">
        <mat-form-field class="w-full">
          <mat-label>Directeur</mat-label>
          <mat-select matInput formControlName="sender_id">
            @for (item of directors; track item.id) {
              <mat-option [disabled]="!item.department" [value]="item.id"> {{ item.full_name }} ({{ item.department ? item.department.designation : 'Aucune direction' }}) </mat-option>
            }
          </mat-select>
          @if (form.get('sender_id')?.hasError) {
            <mat-error> {{ getErrorRequired('sender_id') }} </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="w-full md:w-6/12 md:px-4">
        <mat-form-field class="w-full">
          <mat-label>Destinataire du courrier</mat-label>
          <input type="text" matInput formControlName="recipient">
          @if (form.get('recipient')?.hasError) {
            <mat-error> {{ getErrorRecipient() }} </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="w-full md:px-4 mb-4">
        <h1 class="text-lg font-bold">Document Scanné</h1>
        <p>
          Il s'agit d'une lettre ou d’un document papier qui a été numérisé à l’aide d’un scanner,
          afin d’être conservé ou envoyé sous format électronique. Nous acceptons uniquement les fichiers
          au format PDF ou image (JPEG, PNG).
        </p>
      </div>

      <div class="w-full md:px-4">
        <div class="w-full h-56 flex flex-col items-center justify-center border-2 border-dashed border-gray-400 bg-[#e0e2ec] rounded-lg cursor-pointer hover:border-blue-500 transition" [ngClass]="{ 'bg-gray-100 border-blue-500': isDragging }" (click)="triggerFileInput()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
          <mat-icon class="mat-18">attach_file</mat-icon>
          <p class="text-gray-600 text-lg text-center mt-2 px-1">
            Déposez ici un fichier au format PDF ou image, ou <span class="text-blue-500 font-bold"> cliquez </span> pour le sélectionner.
          </p>
          @if (pdfService.localPdf) {
            <p class="text-lg border-t-4 border-r-gray-100 mt-0.5">Fichier : {{ pdfService.localPdf.name }} </p>
          }
        </div>
        @if (errorMessage !== '') {
          <mat-error class="mt-1.5"> {{ errorMessage }} </mat-error>
        }
      </div>

      @if (uploadProgress > 0) {
      <div class="w-full md:px-4 mt-3.5">
        <div class="w-full bg-gray-200 rounded-full h-2.5">
          <div class="bg-blue-600 h-2.5 rounded-full transition-all duration-300 ease-in-out"
            [style.width.%]="uploadProgress"></div>
        </div>
        <p class="text-center text-sm text-gray-500 mt-2">{{ uploadProgress }} % - {{ statusMessage }}</p>
      </div>
      }

      <div class="w-full md:px-4 mt-4 flex flex-col-reverse md:flex-row justify-end items-center gap-2.5">
        @if (formActionPayload && formActionPayload.data && formActionPayload.data.scanned_document) {
          <button type="button" mat-stroked-button color="primary" class="w-full sm:w-auto" (click)="onDisplayOnlinePdf()">
            <div class="flex items-center">
              <mat-icon class="me-2">remove_red_eye</mat-icon>
              <span>Aperçu de l'ancien fichier</span>
            </div>
          </button>
        }
        @if (pdfService.localPdf) {
          <button type="button" mat-stroked-button color="primary" class="w-full sm:w-auto" (click)="onDisplayLocalPdf()">
            <div class="flex items-center">
              <mat-icon class="me-2">remove_red_eye</mat-icon>
              <span>Aperçu du nouveau fichier</span>
            </div>
          </button>
        }
        <button matTooltip="Cliquez pour Enregister le courrier" mat-flat-button class="w-full sm:w-auto">
          {{ formActionPayload && formActionPayload.action === 'add' ? 'Enregister le courrier' : 'Modifier le courrier' }}
        </button>
      </div>
    </form>
  }@else {
    <div class="flex items-center justify-center my-10">
      <mat-spinner></mat-spinner>
    </div>
  }
  <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden" accept=".jpg, .jpeg, .png, application/pdf">
</div>
