@if (xSmallOrSmall()) {
  <div class="mt-3 flex justify-between items-center">
    <span class="text-lg"> Titre (55) </span>
    <button mat-icon-button>
      <mat-icon> view_module </mat-icon>
    </button>
  </div>
}

@if (withDate) {
  <form class="md:px-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col md:flex-row md:items-end md:space-x-4 my-4">
      <div class="w-full md:w-3/12">
        <div>
          <label for="startDate" class="block text-sm text-gray-500 dark:text-gray-300">Date de début</label>
          <input formControlName="startDate" type="date" placeholder="John Doe" class="block  mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-3.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" />
        </div>
      </div>

      <div class="w-full md:w-3/12 md:px-4">
        <div>
          <label for="username" class="block text-sm text-gray-500 dark:text-gray-300">Date de fin</label>
          <input id="username" formControlName="endDate" type="date" placeholder="John Doe" class="block  mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-3.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" />
        </div>
      </div>

      <div class="w-full md:w-3/12 md:px-4">
        <label for="direction" class="block text-sm text-gray-500 dark:text-gray-300">Direction</label>
        <select formControlName="department_id" id="direction" class="block  w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-3.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300">
          <option selected value="">Toutes les directions</option>
          @for (item of departements; track item.id) {
            <option [value]="item.id"> {{ item.designation }} </option>
          }
        </select>
      </div>

      <button [disabled]="form.invalid" matButton="filled" type="submit" class="float-end">Rechercher</button>
    </div>
    @if (form.errors?.['dateRangeInvalid']) {
      <div class="text-red-500 mb-1.5">
        Plage de dates invalide : la date de début doit être antérieure à la date de fin.
      </div>
    }
    <hr class="border-gray-300">
  </form>
}

<section class="flex flex-wrap my-4 md:mt-6">
  <div class="w-full lg:w-4/12">
    <div class="relative w-full">
      <input [formControl]="searchKeyword" type="text" class="w-full p-3 pl-5 pr-15 text-lg border-2 border-gray-300 rounded-full outline-none transition duration-300 focus:border-blue-500 focus:text-gray-700 bg-white h-[45px] lg:h-[49px]" placeholder="Rechercher un courrier par mot clé">
      <div class="absolute right-4 top-1/2 transform -translate-y-1/2 flex items-center">

        <span class="inline-block h-[45px] border-l border-gray-300"></span>
        <button mat-icon-button [matMenuTriggerFor]="searchMenu" class="text-gray-500 hover:text-gray-700 ml-2">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #searchMenu [overlapTrigger]="false" xPosition="before" yPosition="below">
          <button mat-menu-item (click)="onToogleDateSelector(false)"><mat-icon> {{ withDate ? 'event_busy' : 'check' }} </mat-icon> Rechercher sans date </button>
          <button mat-menu-item (click)="onToogleDateSelector(true)"><mat-icon> {{ withDate ? 'check' : 'date_range' }} </mat-icon> Rechercher avec date </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-8/12 flex justify-end items-center flex-wrap mt-3 md:mt-0">
    @if (!xSmallOrSmall()) {
      <mat-button-toggle-group value="add">
        <mat-button-toggle (click)="onViewChanged('grid')" matTooltip="Nouveau groupe" value="add" aria-label="Text align center">
          <span>Affichage grille</span>&nbsp;&nbsp;<mat-icon color="primary">view_list</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle (click)="onViewChanged('list')" matTooltip="Liste des proclamateurs" value="print" aria-label="Text align center">
          <span>Affichage tableau</span>&nbsp;&nbsp;<mat-icon color="primary">view_module</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    }
  </div>
</section>
