<div class="flex md:items-center min-h-screen bg-gray-200 dark:bg-gray-900">
  <div class="container mx-auto flex-grow flex flex-col justify-center">

    <div class="max-w-xl mx-auto mt-0 mb-4 rounded-xl shadow-2xl border border-gray-300 overflow-hidden w-full">

      <div class="bg-[#007ac3] dark:bg-blue-800 text-white h-20 flex items-center justify-center text-2xl font-extrabold">
        CNSSAP
      </div>

      <div class="p-4 md:p-7 bg-white dark:bg-gray-800">
        <div class="text-center">
            <div class=" w-40 h-40 mx-auto p-1 rounded-full bg-gradient-to-br from-yellow-300 via-green-400 to-blue-500 dark:from-yellow-500 dark:via-green-600 dark:to-blue-700 shadow-xl  relative -mt-12 mb-0">
              <div class="w-full h-full rounded-full bg-white dark:bg-gray-800 flex items-center justify-center">
                  <img src="assets/images/logo.PNG" alt="Logo E-DOCs" class="w-32 h-32 object-contain">
              </div>
            </div>
            <h1 class="mt-4 mb-1 text-3xl font-normal text-gray-700 dark:text-gray-200">E-DOCs</h1>
            <p class="text-center mt-2 text-gray-500 dark:text-gray-400">Géstion électronique des documents</p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-full mt-5" appearance="outline">
              <mat-label>Nom complet</mat-label>
              <input type="text" matInput formControlName="full_name">
              <mat-icon color="primary" matSuffix>person</mat-icon>

              @if (form.get('full_name')?.hasError) {
                <mat-error> {{ getErrorFullName() }} </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="w-full mt-1" appearance="outline">
              <mat-label>Adresse E-mail</mat-label>
              <input type="email" maxlength="40" matInput formControlName="email">
              <mat-icon color="primary" matSuffix>home</mat-icon>
              @if (form.get('email')?.hasError) {
                <mat-error> {{ getErrorEmail() }} </mat-error>
              }
            </mat-form-field>
            <div class="flex flex-col md:flex-row gap-x-5">
              <mat-form-field class="w-full md:w-6/12 mt-1" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input maxlength="16" type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" (focus)="lock = true">
                <a mat-icon-button matSuffix (click)="hide = !hide">
                  @if (lock) {
                    <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  }@else {
                    <mat-icon color="primary">lock</mat-icon>
                  }
                </a>
                @if (form.get('password')?.hasError) {
                  <mat-error> {{ getErrorPassword() }} </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="w-full md:w-6/12 mt-1" appearance="outline">
                <mat-label>Confirmation</mat-label>
                <input maxlength="16" matInput formControlName="password2" [type]="hide ? 'password' : 'text'" (focus)="lock = true">
                <a mat-icon-button matSuffix (click)="hide = !hide">
                  @if (lock) {
                    <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  }@else {
                    <mat-icon color="primary">lock</mat-icon>
                  }
                </a>
                @if (form.get('password2')?.hasError) {
                  <mat-error> {{ getErrorPassword2() }} </mat-error>
                }
              </mat-form-field>
            </div>

           @if (authService.passwordStrength) {
              <div class="w-full h-2 bg-gray-200 rounded">
                <div class="h-2 rounded transition-all duration-300" [style.width.%]="authService.strengthPercent" [ngClass]="authService.strengthClass"></div>
              </div>

              <p class="mt-1 font-medium text-sm">
                {{ authService.passwordStrength }}
              </p>
            }

            <div>
               @if (form.hasError('mismatch') && form.get('password2')?.touched) {
                <mat-error >Les mots de passe ne correspondent pas</mat-error>
              }
            </div>
            <mat-checkbox formControlName="terms" [required]="true">
              J'accepte
              <a routerLink target="_blank" class="text-blue-800 cursor-pointer hover:text-blue-900">
                la politique de confidentialité
              </a> et
              <a routerLink target="_blank" class="text-blue-800 cursor-pointer hover:text-blue-900">
                les conditions d'utilisation
              </a>
            </mat-checkbox>
            @if (form.get('terms')?.hasError && form.get('terms')?.touched) {
                <mat-error class="text-xs ml-4"> {{ getErrorTerms() }} </mat-error>
              }

            <button class="w-full mt-4" mat-flat-button [disabled]="loader">
              <div class="flex items-center justify-center">
                  @if (loader) {
                    <img height="20" width="20" src="assets/images/loader.gif" alt="Chargement" class="mr-2">
                  }
                  <span>S'inscrire maintenant</span>
                </div>
            </button>

            <div class="flex items-center gap-2 mt-5">
              <hr class="flex-1 border-t border-gray-400">
              <p class="text-gray-600 font-semibold">Ou s'inscrire avec</p>
              <hr class="flex-1 border-t border-gray-400">
            </div>
           <div class="flex flex-col space-y-4 mt-5">
                  <button (click)="loginWithGoogle()" type="button" mat-stroked-button class="w-full">
                    <div class="flex items-center">
                      <img height="20" width="20" src="assets/images/google.png"  alt="Google" class="me-2">
                      <span>Google</span>
                    </div>
                  </button>
            </div>
            <p class="w-full text-center text-md mt-6">
              Si vous avez un compte
              <a routerLink="/auth/login" class="cursor-pointer text-blue-900 hover:text-blue-700">Connectez-vous</a>
            </p>
          </form>
        </div>

        <div class="bg-gray-50 dark:bg-gray-700 p-3 text-center text-sm text-gray-500 dark:text-gray-400 border-t border-gray-300 dark:border-gray-700">
          &copy; 2025 - Tous droits réservés | Version 1.0.0
        </div>
      </div>
  </div>
</div>
