<div class="flex md:items-center min-h-screen bg-gray-200 dark:bg-gray-900">
  <div class="container mx-auto">

    <div class="max-w-lg mx-auto mt-0 md:mt-10 rounded-xl shadow-2xl border border-gray-300 overflow-hidden">

      <div
        class="bg-[#007ac3] dark:bg-blue-800 text-white h-20 flex items-center justify-center text-2xl font-extrabold">
        CNSSAP
      </div>

      <div class="p-4 md:p-8 bg-white dark:bg-gray-800">
        <div class="text-center">

          <div class="
              w-40 h-40 mx-auto p-1
              rounded-full
              bg-gradient-to-br from-yellow-300 via-green-400 to-blue-500
              dark:from-yellow-500 dark:via-green-600 dark:to-blue-700
              shadow-xl
              relative -mt-12 mb-0
          ">
            <div class="w-full h-full rounded-full bg-white dark:bg-gray-800 flex items-center justify-center">
              <img src="assets/images/logo.PNG" alt="Logo E-DOCs" class="w-32 h-32 object-contain">
            </div>
          </div>

          <h1 class="mt-4 mb-1 text-3xl font-normal text-gray-700 dark:text-gray-200">E-DOCs</h1>
          <p class="text-gray-500 dark:text-gray-400">Géstion électronique des documents</p>
        </div>
        <div class="mx-4 my-6 md:mx-0">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <p class="mb-6 text-blue-900 text-base font-medium">
              Choisissez un mot de passe sécurisé. Vous pourrez ensuite vous connecter avec ce nouveau mot de passe.
            </p>

            <div class="mb-4">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input maxlength="16" type="password" matInput [type]="hide ? 'password' : 'text'" (focus)="lock = true"
                  formControlName="newPassword">
                <a mat-icon-button matSuffix (click)="hide = !hide">
                  @if (lock) {
                  <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  }@else {
                  <mat-icon color="primary">lock</mat-icon>
                  }
                </a>
                @if (form.get('newPassword')?.hasError) {
                <mat-error> {{ getErrorNewPassword() }} </mat-error>
                }
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Confirmation mot de passe</mat-label>
                <input maxlength="16" type="password" matInput [type]="hide ? 'password' : 'text'" (focus)="lock = true"
                  formControlName="confirmPassword">
                <a mat-icon-button matSuffix (click)="hide = !hide">
                  @if (lock) {
                  <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  }@else {
                  <mat-icon color="primary">lock</mat-icon>
                  }
                </a>
                @if (form.get('confirmPassword')?.hasError) {
                <mat-error> {{ getErrorConfirmPassword() }} </mat-error>
                }
              </mat-form-field>
            </div>

            @if (authService.passwordStrength) {
              <div class="w-full h-2 bg-gray-200 rounded">
                <div class="h-2 rounded transition-all duration-300" [style.width.%]="authService.strengthPercent" [ngClass]="authService.strengthClass"></div>
              </div>

              <p class="mt-1 font-medium text-sm">
                {{ authService.passwordStrength }}
              </p>
            }

            <div>
              @if (form.hasError('mismatch') && form.get('confirmPassword')?.touched) {
              <mat-error>Les mots de passe ne correspondent pas</mat-error>
              }
            </div>

            <div class="mb-6 mt-5">
              <button class="w-full" mat-flat-button>Valider</button>
            </div>

            <div>
              <p class="text-md text-center text-gray-900">
                Nouveau sur la platforme ? <a routerLink="/auth/register"
                  class="text-blue-600 focus:outline-none hover:underline focus:underline focus:text-blue-800 dark:focus:border-indigo-800">Inscrivez-vous</a>.
              </p>
            </div>
          </form>
        </div>
      </div>

      <div
        class="bg-gray-50 dark:bg-gray-700 p-4 text-center text-sm text-gray-500 dark:text-gray-400 border-t border-gray-300 dark:border-gray-700">
        &copy; 2025 - Tous droits réservés | Version 1.0.0
      </div>
    </div>
  </div>
</div>
