<section class="flex items-center justify-between md:h-14 md:px-4 md:bg-white border-b border-b-gray-300 md:border-b-0">
  <button mat-icon-button>
    <mat-icon class="mat-18">arrow_back_ios</mat-icon>
  </button>

  <span class="px-3 py-1 text-xs md:text-sm text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
    {{ users.length }} UTILISATEURS
  </span>

  <div>
    <button mat-icon-button matTooltip="Nouveau utilisateur">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Actualiser">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Imprimmer">
      <mat-icon>print</mat-icon>
    </button>
  </div>
</section>

<p class="text-base md:text-lg my-4 md:my-5">
  Recherchez un utilisateur et cliquez les trois  pour gérer ses rôles.
</p>

<div class="md:bg-white md:shadow-md md:px-5 md:py-8">
  <div class="flex flex-col md:flex-row items-center justify-between gap-x-5 gap-2.5 mb-3">
    <div class="w-full md:w-5/12">
      <div class="relative w-full">
        <input (keyup)="search()" [formControl]="searchKeyword" type="text" class="w-full p-3 pl-5 pr-15 text-lg border-2 border-gray-200 md:rounded-full outline-none transition duration-300 focus:border-blue-500 focus:text-gray-700 bg-white h-[44px]" placeholder="Rechercher un membre">
        <mat-icon class="absolute right-4 pr-1 top-1/2 transform -translate-y-1/2 text-gray-500 text-lg">search</mat-icon>
      </div>
    </div>
  </div>

  @if (loading) {
  <div class="flex justify-center">
    <mat-spinner></mat-spinner>
  </div>
  }@else {
  <div class="flex flex-col mt-6">
    <!-- C’est ici qu’on force le scroll horizontal -->
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden border-y border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
              <tr>
                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left text-gray-500 dark:text-gray-400">
                  Nom de l'utilisateur
                </th>
                <th scope="col"
                  class="hidden sm:table-cell px-12 py-3.5 text-sm font-normal text-center text-gray-500 dark:text-gray-400">
                  Roles
                </th>
                <th scope="col"
                  class="hidden sm:table-cell px-4 py-3.5 text-sm font-normal text-left text-gray-500 dark:text-gray-400">
                  Téléphone
                </th>
                <th scope="col"
                  class="hidden sm:table-cell px-4 py-3.5 text-sm font-normal text-left text-gray-500 dark:text-gray-400">
                  Direction
                </th>
                <th scope="col"
                  class="hidden sm:table-cell px-4 py-3.5 text-sm font-normal text-left text-gray-500 dark:text-gray-400">
                  E-mail
                </th>
                <th scope="col" class="relative py-3.5 px-4">
                  <span class="sr-only">Opérations</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              @for (item of paginatedUsers; track item.id; let i = $index) {
              <tr class="hover:bg-gray-100 cursor-pointer">
                <td class="px-4 py-1.5 text-sm font-medium whitespace-nowrap">
                  <div>
                    <h2 class="font-medium text-gray-800 dark:text-white"> {{ item.full_name }} </h2>
                  </div>
                </td>
                <td class="hidden sm:table-cell px-12 py-1.5 text-sm text-center font-medium whitespace-nowrap">
                  <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                    {{ item.roles.length }}
                  </div>
                </td>
                <td class="hidden sm:table-cell px-4 py-1.5 text-sm whitespace-nowrap">
                  {{ item.phone }}
                </td>
                <td class="p-0 text-sm font-medium whitespace-nowrap w-auto">
                    <select  (change)="onDepartmentChange(item, $event)" name="" id="" class="w-full h-[35px] border-none box-border transition-colors duration-300 bg-transparent focus:outline-none focus:ring-1 focus:ring-blue-500 hover:ring-1 hover:ring-gray-400  dark:text-gray-200">
                      <option [disabled]="item.department" value="vide"></option>
                      @for (dep of departments; track dep.id) {
                          <option [value]="dep.id" [selected]="item.department && item.department.id === dep.id ? true : false">
                              {{ dep.designation }}
                          </option>
                        }
                    </select>
                  </td>
                <td class="hidden sm:table-cell px-4 py-1.5 text-sm whitespace-nowrap">
                  {{ item.email }}
                </td>
                <td class="px-4 py-1.5 text-sm whitespace-nowrap">
                  <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ item: item }">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  }

  <div class="mt-12 mb-2">
    <mat-paginator style="background-color: transparent;" class="mt-6" [length]="users.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons  (page)="onPageChange($event)"/>
  </div>
</div>


<mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="onGoToUserRoles(item)">
      <mat-icon>edit</mat-icon>Gestion des rôles
    </button>
    <button mat-menu-item (click)="onAddDialog(item)">
      <mat-icon>person</mat-icon><span>Modifier information</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon><span>Mettre à la corbeille</span>
    </button>
  </ng-template>
</mat-menu>
