<section class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 my-6">
  @for (item of mails; track item.id; let i = $index; let last = $last) {
    <div class="md:p-3 border-2 border-transparent rounded-lg transition-all duration-300 hover:border-blue-500">
      <div class="flex justify-between">
        <div class="flex items-center gap-4">
          <div class="relative w-20 h-20"> <img class="absolute top-0 left-0 h-20 w-20 z-10"
              [src]="item.scanned_document ? 'assets/images/pdf.png' : 'assets/images/notFile.png'" alt="Document Statut">
            @if (item.treatment_proof) {
              <img class="absolute bottom-0 right-0 h-16 w-16 z-20 translate-x-3 translate-y-3" src="assets/images/pdf.png" alt="Traitement Prouvé">
            }
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="mailMenu" [matMenuTriggerData]="{ item: item }">
          <mat-icon class="mat-18">more_vert</mat-icon>
        </button>
      </div>
      <h1 class="mt-4 text-xl font-semibold text-gray-800"> {{ item.subject }} &nbsp; <span>#{{ item.id }}</span> </h1>
      <div class="mt-2 text-gray-500 dark:text-gray-400">
        <div><span>Date du courrier : </span> <span> {{ item.mail_date | date: 'dd/MM/yyyy' }} </span> &nbsp; | &nbsp;
          <span>Date d'enregistrement : </span> <span> {{ item.create_at | date: 'dd/MM/yyyy' }} </span>
        </div>
      </div>
    </div>
    @if (!last) {
      <hr class="block sm:hidden border border-blue-950">
    }
  }
</section>
<mat-menu #mailMenu="matMenu" [overlapTrigger]="false" yPosition="below">
  <ng-template matMenuContent let-item="item">

    <button mat-menu-item (click)="onMenuItemClicked('view_detail', item)">
      <mat-icon>list</mat-icon>Voir le détail
    </button>

    @if (item.scanned_document) {
      <button mat-menu-item (click)="onMenuItemClicked('display_document', item)">
        <mat-icon>remove_red_eye</mat-icon><span>Aperçu document</span>
      </button>
    }

    @if (item.treatment_proof) {
      <button mat-menu-item (click)="onMenuItemClicked('display_proof', item)">
        <mat-icon>remove_red_eye</mat-icon><span>Aperçu preuve</span>
      </button>
    }

    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onMenuItemClicked('receipt', item)">
      <mat-icon>print</mat-icon><span>Accusé de réception</span>
    </button>

    @if (item.scanned_document) {
      <button mat-menu-item (click)="onMenuItemClicked('download_mail', item)">
        <mat-icon>cloud_download</mat-icon><span>Télécharger courrier</span>
      </button>
    }

    @if (item.treatment_proof ) {
      <button mat-menu-item (click)="onMenuItemClicked('download_proof', item)">
        <mat-icon>get_app</mat-icon><span>Télécharger preuve</span>
      </button>
    }

    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onMenuItemClicked('treatment_proof', item)">
      <mat-icon>attach_file</mat-icon><span>Joindre une preuve</span>
    </button>
    <button mat-menu-item (click)="onMenuItemClicked('share_mail', item)">
      <mat-icon>shared</mat-icon><span>Partager le courrier</span>
    </button>
    <button mat-menu-item (click)="onMenuItemClicked('assign_agent', item)">
      <mat-icon>person</mat-icon><span>Assigner un agent</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onMenuItemClicked('edit_mail', item)">
      <mat-icon>edit</mat-icon><span>Modifier ce courrier</span>
    </button>

    <button mat-menu-item (click)="onMenuItemClicked('delete_mail', item)">
      <mat-icon>delete</mat-icon><span>Mettre à la corbeille</span>
    </button>

  </ng-template>
</mat-menu>
